.bundle
.DS_Store
config/database.yml
db/*.sqlite3
db/*.sqlite
db/*.sqlite3-journal
log/*.log
tmp/
.sass-cache/
.DS_store
coverage
doc/api
doc/app
curriculum/.pygments-cache
curriculum/public/*
public/assets
*.tmproj
*~
\#*#
.idea/
ignored/
.irb-save-history
chromedriver.log
.tddium*
bin/
.env
*.swp
